
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800
    border border-gray-200 dark:border-gray-800 rounded-full mx-2;
  }

  .navbar-left, navbar-right {
    display: flex;
    align-items: center;
  }

  .facebook-icon {
    background-color: #1877f2;
  }

  .instagram-icon {
    background-color: #c13584;
  }

  .line {
    height: 1px;
    background: black;
  }

  .player-stats {
    @apply absolute w-auto p-2 m-2 min-w-max rounded-md shadow-md
    text-white bg-gray-900 text-xs font-bold transition-all duration-100
    mb-20 scale-0 origin-left;
  }

  .no-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }

  .no-scroll::-webkit-scrollbar {
    display:none !important;
  }
}

@font-face {
  font-family: 'Phosphate';
  src: url(./fonts/PhosphateRR\ Solid.ttf) format('truetype');
}

@layer utilities {
  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent
    [&>div]:rotate-[720deg]
  }
}